.InfoPopup {
  display: absolute;
  position: relative;
  z-index: 1;
  left: 2rem;
  top: 2rem;
  padding: 1rem;
  width: 30rem;
  background: white;
  border-radius: 10px;
  box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.41);
}
