.Pill {
  padding: 0.25em 0.5em;
  margin: 0 0.5em;
  display: inline-block;
  border-radius: 7px;
  font-size: 0.875em;
  height: 1em;
  line-height: 1em;
  // box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.34);
  &--male {
    background: rgba(60, 60, 231, 0.331);
  }
  &--female {
    background: rgba(248, 79, 248, 0.304);
  }
  &--posTrend {
    background: rgba(79, 248, 164, 0.304);
  }
  &--negTrend {
    background: rgba(248, 79, 79, 0.304);
  }
}
